body {
  font-family: 'Kufam', cursive;
  line-height: 17px;
  background-color: #f1f1f1;
}

.navigation {
  width: 100%;
  min-width: 900px;
  height: 50px;
  background-color: #196b80;
  border-bottom: 0.25em solid #0e343d;
  padding: 10px;
  padding-bottom: 20px;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.logo a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.7em;
}

.nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

.nav a {
  position: relative;
  color: #f1f1f1;
  text-decoration: none;
}

.nav a:hover {
  color: #76e4ff;
  border-bottom: 2px solid #76e4ff;
}

.nav a i {
  margin-top: -3px;
  font-size: 25px;
  padding: 0 6px 0 6px;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: white;
  padding: 14px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #d3d3d3;
  z-index: -1;
}

.user-details {
  width: 250px;
  float: left;
  margin: 0 0 20px 0;
}

.user-details img {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
}

.user-details-left-right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.main-column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 160px;
}

.post-form {
  height: 70px;
  width: 100%;
  display: flex;
}

.post-form textarea{
  width: 80%;
  height: 60px;
  border-radius: 2px;
  margin-right: 5px;
  padding: 6px;
}

textarea:focus {
  outline: 0;
}

.post-form input[type="submit"] {
  width: 18%;
  height: 60px;
  border-style: none;
  background-color: #196b80;
  color: #f1f1f1;
  border-radius: 2px;
}

.post-form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
  background-color: #76e4ff;
}

.status-post{
  width: 96%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 75px;
  cursor: pointer;
}

.post-profile {
  float: left;
  margin-right: 7px;
}

.post-profile img {
  border-radius: 5px;
}

#comment_iframe{
  max-height: 250px;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.comment-section {
  padding: 0 5px 5px 5px;
  font-size: 12px;
}

.comment-section img {
  margin: 0 10px 3px 3px;
  border-radius: 2px;
}

.comment-section a {
  text-decoration: none;
  color: #196b80;
}

#comment-form {
  display: flex;
}

#comment-form textarea {
  border-color: #0e343d;
  width: 85%;
  height: 35px;
  border-radius: 4px;
  color: #1f1f1f;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment-form input[type='submit'] {
  border: none;
  width: 10%;
  height: 35px;
  border-radius: 4px;
  color: #f1f1f1;
  background-color: #0e343d;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

.newsfeed-options {
  padding: 0;
  text-decoration: none;
  color: #196b80;
  border: none;
  margin-top: 5px;
}

.newsfeed-options iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

.comment-like {
  border: none;
  font-size: 14px;
  color: #196b80;
  padding: 0;
  background-color: transparent;
  height: auto;
  width: auto;
  margin: 0;
}

.like-value {
  display: inline;
  font-size: 14px;
}

.profile_left {
  height: 100vh;
  background-color: #196b80;
  color: #f1f1f1;
  width: 25%;
  min-width: 180px;
  max-width: 240px;
  float: left;
  position: relative;
  border-right: 10px solid #5dc0d6;
  margin-top: -10px;
}

.profile_left img {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 15px;
  margin: 30px;
}

.profile_info {
  background-color: rgb(10, 44, 59);
  display: list-item;
  width: 100%;
  padding: 10px 0 10px 0;
}

.profile_info p{
  margin: 0 0 0 20px;
  word-wrap: break-word;
}

.profile_left input[type='submit'] {
  color: #bbb7b7;
  width: 90%;
  border-style: none;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0 0 7px;
}

.danger {
  background-color: #e74c3c;

}

.warning {
  background-color: #f0ad4e;

}

.default {
  background-color: #bdc3c7;

}

.success {
  background-color: #2ecc71;
}

.info {
  background-color: #e498db;
}

.deep_blue {
  background-color: #0043f0;
}

#accept_button {
  width: 20%;
  background-color: #196b80;
  color: #d3d3d3;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
}

#ignore_button {
  width: 20%;
  background-color: #e74c3c;
  color: #f1f1f1;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
}

.delete_button {
  padding: 2px;
  border-radius: 2px;
  border-style: none;
  float: right;
  position: relative;
  width: 20px;
}

.profile-main-column {
  min-width: 675px;
  float: left;
  width: 70%;
  z-index: -1;
  margin-left: 20px;
}